@font-face {
  font-family: 'Consolas';
  src: url('fonts/consolas.woff2') format('woff2'),url('fonts/consolas.woff') format('woff');
}

body{
    background-color: black;
    margin: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 15vw;
    height: 89.7vh;
    background: #333;
    color: rgb(255, 255, 0);
    padding: 1px;
    text-align: center;
    font-family: monospace;
}

.footer {
    width: 99.9vw;
    height: 10vh;
    background: #555;
    color: rgb(0, 255, 255);
    padding: 1px;
    text-align: center;
}

.content {
    padding: 1px;
    background: #000;
    font-family: Consolas, monospace;
    font-size: 2vw;
    color: rgb(0, 255, 0);
    text-align: center;
}

a{
    text-decoration: none;
    font-size: 1.5vh;
    font-family: "Arial", monospace;
    color: #fff;
}

comic{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(0, 0, 255);
}

li{
    list-style-type: none;
}